<app-header titulo="card">asd</app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae velit vitae numquam eum, dicta illo sed nam architecto expedita odio quibusdam dolor, iure ab? Maiores corrupti pariatur corporis reiciendis?
    </ion-card-content>

  </ion-card>

  <ion-card>
    <img src="https://th.bing.com/th/id/R.cdce744142c3afbc3413abe424ed404e?rik=R%2bvxUZ7a%2fc1lww&pid=ImgRaw&r=0" alt="">
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita eius vel incidunt aspernatur? Odio eaque eum nemo minima voluptas dolore aliquam, dolorum natus sapiente veritatis laudantium, doloremque, voluptatum excepturi? Itaque!
    </ion-card-content>
  </ion-card>

</ion-content>
